.material-icons {
    position: relative;
    top: 5px;
    left: 0;
    font-size: 20px;
}

.alert-position {
    position: fixed;
    bottom: 5%;
    right: 3%;
}

.card {
    border: 0;
}

.navbar {
    border-bottom: 0;
}